/* NavBar Box style */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4F518C;
    position: static;
    top: 0;
    left: 0;
    width: 98.8%;
    z-index: 10;
    padding: 8px;
    /* margin-bottom: 50px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Jersey 10", sans-serif;
    border-radius: 16px;
}
.header h1{
    color: white;
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.Nav-Bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

/* .Nav-Bar li {
    font-size: 35px;
} */

.Nav-Bar a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 35px;
    /* font-weight: 800; */
    letter-spacing: 1px;
}
.logo{
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.logo-img{
    width: 55px;
    height: 55px;
    /* border-radius: 25%; */
    padding-top: 10%;
    image-rendering: pixelated;
}
.login-and-signup{
    display: flex;
    gap: 15px;
}
button{
    font-size: 30px;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 1px;
    padding: 10px;
    border-radius: 95px;
}
.login{
    border-color: black;
    background-color: white;
    color: black;
    font-weight: bold;
}
.signup{
    border-color: white;
    background-color: black;
    color: white;
    font-weight: bold;    
}
.login, .signup,.rate-us {
    display: inline-block; 
    cursor: pointer;       
  }
.rate-us{
    display: flex;
    gap: 15px;
}
.rate-us-button{
    background-color: black;
    border-color: white;
    color: white;
    font-weight: bold;
 } 